body{
  font-family: 'Dancing Script';
  background: #000;
  color: #fff;
  font-size: 19px;
}
img{
  box-shadow: 2px 2px 2px  #02010a;
}
.contenedor{
  width: 900px;
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 0px;
}
.contenedor{
  animation: animacion 2s;
}
@-webkit-keyframes animacion  {
  0%{
    margin-top:150px;
  }
  60%{
    margin-top: -5px;
  }
  100%{
    margin-top: 0px;
  }
}
.header{
  background: #5b7989;
  color: #fff;
  height: 4em;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

.header h1{
  display: inline;
  text-shadow: 2px 2px 2px #02010a;

}
.header a{
  color: #fff;

}
.header p{
  float:right;
  display: inline;
  padding:  10px;
  margin-left: 10px;
  border-radius: 5%;;

}
.principal{
  background: #d5c75f;
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
}
.index1, .index2, .index3, .index4, .index5, .index6{
  width:30%;
  height: 35%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 8%;
}
.index4, .index5, .index6{
  margin-top:-5%;
}
.index1{
  -webkit-filter:blur(10px);
    filter:blur(10px);

}
.index2, .index4, .index6{
  -webkit-filter:grayscale(100%);
    filter:grayscale(100%);

}
.index3{
  -webkit-filter:sepia(90%);
    filter:sepia(90%);

}
.header p{
  transition-property: all;
  transition-duration: 0.4s;
}
.header p:hover{
  background: #ECEEF3;
  border-radius: 25%;
  color: #1E3885;
}
.footer{
  background: #C6d5c5;
  color: #000;
  margin-top: -16px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.contacto , .termino, .redes, .derechos{
  width: 23%;
  box-sizing: border-box;
  text-align: left;
  margin-left:10px;
  padding-left: 30px;
}
.ico1,.ico2,.ico3{
  width: 20px;
  margin-right: 10px;
  box-shadow: none;
  transition-property: all;
  transition-duration: 0.2s;
  opacity: 1;
  border-radius: 45%;
}
.ico3{
  width:25px !important;
}
.ico1:hover,.ico2:hover,.ico3:hover{

  background:#A0FDB9;
  opacity: 0.95;
}
